.footer {
    padding: 20px;
    background-color: var(--sky-blue);
    color: var(--text-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
  
    p {
      color: var(--text-dark);
      font-size: 1rem;
    }
  
    .resources {
      display: flex;
      flex-direction: column;
      gap: 10px;
  
      a {
        color: var(--text-dark);
        text-decoration: none;
        font-weight: bold;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  @media (max-width: 480px) {
    .footer {
      padding: 10px;
      gap: 15px;
  
      p {
        font-size: 0.9rem;
      }
  
      details {
        summary {
          font-size: 0.9rem;
        }
  
        ul {
          li {
            a {
              font-size: 0.8rem;
            }
          }
        }
      }
  
      .logoText {
        img {
          width: 80px;
          height: auto;
        }
      }
    }
  }