# Dependencies
/node_modules
/server/node_modules

# Next.js
/.next

# Vercel
/.vercel

# Build output
/out

# MacOS system files
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env*
